@model IList<Brun.IWorker>
@{
    ViewData["Title"] = "Workers";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Key</th>
            <th>Name</th>

            <th>Worker类型</th>
            <th>Brun类型</th>
            <th>Task数量</th>
            <th>开始|异常|结束 数量</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Name</td>

                <td>@item.Context.Option.WorkerType.Name</td>
                <td>@item.Context.Option.DefaultBrunType.Name</td>
                <td>@item.RunningTasks.Count</td>
                <td>@item.Context.startNb | @item.Context.exceptNb | @item.Context.endNb</td>
            </tr>
        }
    </tbody>
</table>
